* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #E0D4BB;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

ul li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
}

.icon {
  font-family: "Montserrat Underline", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
}

nav ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.smaller-screen {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  background-color: #c5b89bcc;
  flex-direction: column;
  padding: 20px;
  z-index: 100;
}

.smaller-screen li {
  width: 80%;
  padding: 10px;
  background: rgba(228, 218, 218, 0.432);
  text-align: center;
  margin-bottom: 10px;
  margin-left: 50px;
}

.menu-toggle {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
.menu-toggle img{
   width: 60px;
  }
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  background-image: url(../src/hero.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: .7;
}


.hero-content {
  position: relative;
  z-index: 2;
  color: rgb(245, 224, 224);
  width: 100%;
  padding: 10px;
}

.hero-content h1 {
  font-size: 5em;
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-weight: 300;
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
  font-weight: bold;
}

.category {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 0 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.product {
  background-color: #D5C4A1;
  padding: 30px;
  border-radius: 20px;
}

.product img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.review img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  place-content: center;
}

.review {
  background-color: #D5C4A1;
  padding: 30px;
  border-radius: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  padding: 10px;
  width: 100%;
}

.footer-item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.footer-item ul li {
  text-align: center;
}

.divider {
  border-bottom: 2px solid white;
  margin: 20px;
}

.linkToMenuPage {
  border: none;
  margin-top: 25px;
  padding: 15px 60px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #867b63;
  color: white;
}

@media screen and (min-width:701px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  .review {
    width: 320px;
  }

  .hero-content h1 {
    font-size: 3.5em;
    text-align: center;
  }
}


@media screen and (min-width:460px) and (max-width:700px) {
  body {
    overflow-x: hidden;
  }

  .products {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .product img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
  }

  .review {
    width: 300px;
  }

  .reviews {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .hero-content h1 {
    font-size: 3em;
    text-align: center;
  }

  .larger-screen {
    display: none;
  }

  .smaller-screen.opened {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 459px) {
  body {
    overflow-x: hidden;
  }

  .products {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .product img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }

  .review {
    width: 300px;
  }

  .reviews {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .footer-item {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
  }

  .hero-content h1 {
    font-size: 3em;
    text-align: center;
  }

  .larger-screen {
    display: none;
  }

  .smaller-screen.opened {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
.menu-toggle img{
   width: 40px;
  }
  .icon{
    font-size: 20px;
  }
}